body {
  font-family: 'Cormorant Garamond';
}

.title {
  margin: auto;
}

.subtitle {
  font-size: 34px;
  margin: 0 0 40px;
  text-align: center;
}
.header {
  height: 95px;
  display: flex;
  max-width: 1330px;
	min-width: 1280px;
	margin: auto;
}

.header-link {
  font-size: 28px;
  text-decoration: none;
  color: #10191E;
}

.project {
  background-position: center;
  background-size: cover;
}

.project_beginner {
  width: 636px;
  height: 430px;
}

.project_music-album {
  background-image: url(https://practicum-content.s3.us-west-1.amazonaws.com/web-code/moved_album.png);
}

.project_design-principles {
  background-image: url(https://practicum-content.s3.us-west-1.amazonaws.com/web-code/moved_design.png);
}

.flex-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex-column {
  width: 636px;
  height: 557px;
  display: flex;
  justify-content: space-between;
}

.flex-column_reversed {
  flex-direction: column-reverse;
}

.project_procrastinate {
  width: 636px;
	height: 557px;
}

.project-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project_p5 {
  width: 636px;
  height: 240px;
}

.flex-row_libraries-inner {
  width: 636px;
  height: 290px;
}

.project_slider {
  width: 306px;
  height: 290px;
  background-image: url(https://practicum-content.s3.us-west-1.amazonaws.com/web-code/moved_slider.gif);
}

.project_reactive {
  width: 306px;
  height: 290px;
  background-image: url(https://practicum-content.s3.us-west-1.amazonaws.com/web-code/moved_reactive.gif);
}

.flex-row_reversed {
  flex-direction: row-reverse;
  margin: 60px 0;
}

.menu {
  display: flex;
  justify-content: center;
  min-height: 75px;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1330px;
	min-width: 1280px;
	margin: 40px auto;
}

.project_vanilla {
  width: 306px;
  height: 290px;
}

.project_how-to-study {
  background-image: url(https://practicum-content.s3.us-west-1.amazonaws.com/web-code/moved_how-to-study-eng.png);
  order: 3;
}

.project_across-usa {
  background-image: url(https://practicum-content.s3.us-west-1.amazonaws.com/web-code/moved_across-usa.png);
  order: 2;
  flex-basis: 636px;
}

.project_around {
  background-image: url(https://practicum-content.s3.us-west-1.amazonaws.com/web-code/moved_around.png);
  order: 1;
}

.footer {
  min-height: 95px;
	display: flex;
  align-items: center;
	justify-content: space-around;
  max-width: 1330px;
	min-width: 1280px;
	margin: auto;
}

.logo {
  width: 145px;
  height: 25px;
  background-image: url(https://practicum-content.s3.us-west-1.amazonaws.com/web-code/moved_logo-black-eng.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.social-icons {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon {
  width: 24px;
}

.copyrights {
  align-self: flex-end;
}

.main {
	max-width: 1330px;
	min-width: 1280px;
	margin: auto;
}

.menu-link {
  font-size: 18px;
  text-decoration: none;
  color: #10191E;
  margin-right: 20px;
}

.project-overlay {
  background-color: rgba(0, 0, 100, .8);
  height: 100%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center; 
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
  padding: 20px; 
  opacity: 0;
} 

.project-overlay:hover {
  opacity: 1;
} 
